{{set . "title" "Repositories"}}
{{template "header.html" .}}

{{template "navi.html" .}}

{{template "title.html" .}}

<div class="container">
    <div class="row">
		<div class="page-header">
        	{{template "flash.html" .}}
		
			<form action="{{url "Svn.Create"}}" method="post" class="form-inline" id="formCreate">
				{{with $field := field "Name" .}}
				<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" required placeholder="Repository Name">
				{{end}}
				
				<input type="submit" class="btn btn-primary" value="Create Repository">
			</form>
		</div>
		
		{{template "page_items.html" .}}
		
		<div class="">
		{{template "pager.html" .}}
		
	        <table class="table table-striped table-hover">
	            <tr>
	                <th>Repository Name</th>
					<th>Last Revision</th>
					<th>Last Author</th>
					<th>Last Date</th>
					<th>Url</th>
	            </tr>
				{{range $i, $repo := $.svninfos}}
				<tr>
					<td>{{$repo.Name}}</td>
					<td>{{$repo.LastRev}}</td>
					<td>{{$repo.LastAuthor}}</td>
					<td>{{$repo.LastDate}}</td>
					<td><a href="{{$repo.Url}}">{{$repo.Url}}</a></td>
				</tr>
				{{end}}
	        </table>
			
		{{template "pager.html" .}}
		</div>
		
	</div>
</div>


{{template "footer.html" .}}
