{{set . "title" "Repositories"}}
{{template "header.html" .}}

{{template "navi.html" .}}

{{template "title.html" .}}

<div class="container">
    <div class="row">
		<div class="page-header">
	        <div class="span6">
	            {{template "flash.html" .}}
	        </div>
			
			<div class="clearfix">
				<form action="{{url "Svn.Create"}}" method="post" class="form form-inline">
					{{with $field := field "Name" .}}
					<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" required>
					{{end}}
					
					<input type="submit" class="btn btn-primary" value="Create Repository">
				</form>
			</div>
			
			<div class="clearfix">
		        <table class="table table-striped table-hover">
		            <tr>
		                <th>Repository Name</th>
						<th>Operation</th>
		            </tr>
					{{range $i, $repo := $.repos}}
					<tr>
						<td>{{$repo}}</td>
						<td>
						</td>
					</tr>
					{{end}}
		        </table>
			</div>
	   	</div>
	</div>
</div>

{{template "footer.html" .}}
