<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/websvnadmin/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/websvnadmin/public/css/bootswatch.min.css">
    <script src="/websvnadmin/public/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/websvnadmin/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/websvnadmin/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/websvnadmin/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
